use ZQGameUserDB;
set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		<cxf>
-- Create date: <2011-12-22>
-- Description:	<保持连接>
-- =============================================
create PROCEDURE [dbo].[GSP_GP_ContinueConnect]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	SET NOCOUNT ON;
	RETURN 0;
END

