USE WHGameUserDB
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[GSP_GP_RegisterAccountsWX_v2]') and OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[GSP_GP_RegisterAccountsWX_v2]
GO

SET QUOTED_IDENTIFIER ON 
GO

SET ANSI_NULLS ON 
GO

----------------------------------------------------------------------------------------------------

-- WX帐号注册
CREATE PROC [dbo].[GSP_GP_RegisterAccountsWX_v2]
	@strAccounts NVARCHAR(31),					-- 用户帐号
	@strPassword NCHAR(32),						-- 用户密码
	@strSpreader NVARCHAR(31),					-- 推广员名
	@strNickname NVARCHAR(32),						
	@strOpenid NVARCHAR(32),						
	@strUnionid NVARCHAR(64),						
	@strFaceUrl NVARCHAR(256),						
	@cbGender TINYINT,							-- 用户性别
	@strClientIP NVARCHAR(15),					-- 连接地址
	@strWXMachineSerial NCHAR(32),				-- 机器码(微信信息的唯一编码)
	@strMachineSerial NCHAR(32)					-- 机器标识
--WITH ENCRYPTION AS
as

-- 属性设置
SET NOCOUNT ON

-- 基本信息
DECLARE @UserID INT
DECLARE @FaceID INT
DECLARE @Accounts NVARCHAR(31)
DECLARE @RegAccounts NVARCHAR(31)
DECLARE @TmpRegAccounts NVARCHAR(31)
DECLARE @UnderWrite NVARCHAR(63)

-- 扩展信息
DECLARE @GameID INT
DECLARE @SpreaderID INT
DECLARE @Gender TINYINT
DECLARE @Experience INT
DECLARE @Loveliness INT
DECLARE @MemberOrder INT
DECLARE @MemberOverDate DATETIME
DECLARE @CustomFaceVer TINYINT
DECLARE @IsGuest TINYINT
DECLARE @HasGuest TINYINT
DECLARE @GOLDSCORE INT

-- 辅助变量
DECLARE @EnjoinLogon AS INT
DECLARE @EnjoinRegister AS INT
DECLARE @ErrorDescribe AS NVARCHAR(128)
DECLARE @Rule AS NVARCHAR(512)
DECLARE @guestAccounts NVARCHAR(31)		-- 游客帐号
DECLARE @guestPasswordX NVARCHAR(32)		-- 游客密码
DECLARE @guestPassword NVARCHAR(32)		-- 游客密码明文
DECLARE @guestGender TINYINT			-- 游客性别
DECLARE @NeedGuest AS INT			-- 是否需要游客帐号
DECLARE @iCount AS INT				-- 循环计数器
DECLARE @TheWeekday AS INT			-- 当天星期几
DECLARE @TheNewAward AS INT			-- 新用户赠送数
DECLARE @GMScore INT

-- 执行逻辑
BEGIN
	-- 效验名字
	--IF (SELECT COUNT(*) FROM ConfineContent(NOLOCK) WHERE CHARINDEX(String,@strAccounts)>0)>0
	--BEGIN
	--	SELECT [ErrorDescribe]=N'抱歉地通知您，您所输入的帐号名含有限制字符串，请更换帐号名后再次申请帐号！'
	--	RETURN 4
	--END

	-- 效验地址
	--SELECT @EnjoinRegister=EnjoinRegister FROM ConfineAddress(NOLOCK) WHERE AddrString=@strClientIP AND GETDATE()<EnjoinOverDate
	--IF @EnjoinRegister IS NOT NULL AND @EnjoinRegister<>0
	--BEGIN
	--	SELECT [ErrorDescribe]=N'抱歉地通知您，系统禁止了您所在的 IP 地址的注册功能，请联系客户服务中心了解详细情况！'
	--	RETURN 5
	--END
	
	-- 效验机器
	--SELECT @EnjoinRegister=EnjoinRegister FROM ConfineMachine(NOLOCK) WHERE MachineSerial=@strMachineSerial AND GETDATE()<EnjoinOverDate
	--IF @EnjoinRegister IS NOT NULL AND @EnjoinRegister<>0
	--BEGIN
	--	SELECT [ErrorDescribe]=N'抱歉地通知您，系统禁止了您的机器的注册功能，请联系客户服务中心了解详细情况！'
	--	RETURN 6
	--END
 
	-- 查询用户
	IF EXISTS (SELECT UserID FROM AccountsInfo(NOLOCK) WHERE Accounts=@strAccounts)
	BEGIN
		SELECT [ErrorDescribe]=N'此帐号名已被注册，请换另一帐号名字尝试再次注册！'
		RETURN 7
	END

	SET @TheNewAward = 0
	SET @RegAccounts = @strAccounts
	--set @cbGender = @cbGender
	if (@cbGender=1)
	BEGIN
		set @cbGender = 49
	END
	ELSE
	BEGIN
		set @cbGender = 48
	END

	--获取游客帐号
	SET @NeedGuest = 1
	IF LEN(@strAccounts) = 0
	BEGIN
		--先根据机器码(微信信息的唯一编码)进行关联
		SELECT TOP 1 @strAccounts=Accounts,@GuestPassword=InsurePass,@TmpRegAccounts=RegAccounts FROM AccountsInfo(NOLOCK) WHERE MachineSerial=@strWXMachineSerial AND IsGuest=2
		IF LEN(@strAccounts) <> 0
		BEGIN
			--SELECT [ErrorDescribe]=N'复用绑定的帐号！'
			SET @NeedGuest = 0
			SET @RegAccounts = @TmpRegAccounts
		END
		ELSE
		BEGIN
			SET @iCount = 0
			WHILE @iCount < 100
			BEGIN
				SET @iCount = @iCount + 1
				SELECT TOP 1 @guestAccounts=Accounts, @guestPassword=Password, @guestPasswordX=PasswordX, @guestGender=Gender from GuestInfo
				IF @guestAccounts IS NULL
				BEGIN
					SELECT [ErrorDescribe]=N'账号用完了！'
					RETURN 9
				END
				set @strAccounts = @guestAccounts
				set @strPassword = @guestPasswordX
				-- set @cbGender = @guestGender
				SET @RegAccounts = @strAccounts

				DELETE FROM GuestInfo WHERE Accounts = @strAccounts

				-- 查询用户
				IF EXISTS (SELECT UserID FROM AccountsInfo(NOLOCK) WHERE Accounts=@strAccounts)
				BEGIN
					SELECT [ErrorDescribe]=N'此帐号名已被注册，请换另一帐号名字尝试再次注册！'
					--RETURN 10
				END
				ELSE 
				BEGIN
					BREAK
				END
			END
		END
	END

	IF @iCount = 100
	BEGIN
		SELECT [ErrorDescribe]=N'帐号已用完！'
		RETURN 10
	END

	--校验推广员信息 @strSpreader
	--要求帐号的推广员与设备绑定，只认可设备第一次安装时的推广渠道
	--DECLARE @strOldSpreader NVARCHAR(31)
	DECLARE @strTheSpreader NVARCHAR(31)
	--SELECT TOP 1 @strOldSpreader=SpreaderID FROM AccountsInfo WHERE MachineSerial=@strMachineSerial ORDER BY UserID ASC
	--IF @strOldSpreader IS NOT NULL
	--BEGIN
		--从客户端提交的渠道号，被临时写入字段Spreader，备查
	--	SET @strTheSpreader = N''
	--END
	--ELSE
	--BEGIN
		SET @strTheSpreader = @strSpreader
	--END

	IF @NeedGuest <> 0
	BEGIN
		-- 注册WX用户
		INSERT AccountsInfo (Accounts,RegAccounts,OpenID,UnionID,FaceUrl,LogonPass,InsurePass,SpreaderID,Spreader,Gender,MachineSerial,GameLogonTimes,RegisterIP,LastLogonIP,IsGuest)
		VALUES (@strAccounts,@strNickName,@strOpenID,@strUnionID,@strFaceUrl,@strPassword,@GuestPassword,@strTheSpreader,@strSpreader,@cbGender,@strWXMachineSerial,1,@strClientIP,@strClientIP,2)
		

		-- 错误判断
		IF @@ERROR<>0
		BEGIN
			SELECT [ErrorDescribe]=N'帐号已存在，请换另一帐号名字尝试再次注册！'
			RETURN 8
		END
	END
	ELSE
	BEGIN
		--更新信息
		UPDATE AccountsInfo SET Gender=@cbGender,RegAccounts=@strNickName,FaceUrl=@strFaceUrl WHERE Accounts=@strAccounts AND (Gender!=@cbGender OR RegAccounts!=@strNickName OR FaceUrl!=@strFaceUrl) 
	END

	-- 查询用户
	SELECT @UserID=UserID, @Accounts=Accounts, @UnderWrite=UnderWrite, @Gender=Gender, @FaceID=FaceID, @Experience=Experience,
		@MemberOrder=MemberOrder, @MemberOverDate=MemberOverDate, @Loveliness=Loveliness,@CustomFaceVer=CustomFaceVer
	FROM AccountsInfo(NOLOCK) WHERE Accounts=@strAccounts

	-- 分配标识
	--SELECT @GameID=GameID FROM GameIdentifier(NOLOCK) WHERE UserID=@UserID
	--IF @GameID IS NULL 
	--BEGIN
		SET @GameID=0
	--	SET @ErrorDescribe=N'用户注册成功，但未成功获取游戏 ID 号码，系统稍后将给您分配！'
	--END
	--ELSE UPDATE AccountsInfo SET GameID=@GameID WHERE UserID=@UserID	
	
	-- 游戏信息
	SELECT @GoldScore=Score FROM WHTreasureDB.dbo.GameScoreInfo WHERE UserID=@UserID

	-- 信息判断
	IF @GoldScore IS NULL
	BEGIN
		-- 插入资料
		INSERT INTO WHTreasureDB.dbo.GameScoreInfo (UserID, LastLogonIP, RegisterIP)	VALUES (@UserID,@strClientIP,@strClientIP)

		-- 游戏信息
		SELECT @GoldScore=Score FROM WHTreasureDB.dbo.GameScoreInfo WHERE UserID=@UserID
	END
	
	--只有新人才有奖励
	IF @NeedGuest <> 0
	BEGIN
		SET @TheNewAward = @GoldScore
		SET @RegAccounts = @strNickName
	END


	--检查GM工具发放的奖励
	EXEC @GMScore=dbo.GSP_GP_CheckUserGMScore @UserID
	SET @GoldScore = @GoldScore + @GMScore

	-- 查询系统参数配置
	SET @Rule = N''
	DECLARE c1 cursor for SELECT name,value from WHServerInfoDB.dbo.GameConfig WHERE getdate() >= ValidDate and ToClient=1
        DECLARE @sname varchar(32), @svalue varchar(64), @nWeekday INT, @nLen INT, @nTemp INT
        OPEN c1  
        FETCH c1 INTO @sname,@svalue  
        WHILE @@fetch_status=0  
        BEGIN  
		
		IF @sname='wx_task'	--判断任务面板中的微信分享是否显示
		BEGIN
			SET @nTemp = 0
			SET @TheWeekday=CONVERT(INT, datepart(weekday, getdate()))-1 --当前星期几
			IF @TheWeekday = 0		--星期天时值为7
				SET @TheWeekday = 7
				
			WHILE @svalue<>''
			BEGIN
				SET @nLen = LEN(@svalue)
				IF @nLen = 1
				BEGIN
					SET @nWeekday = CONVERT(INT, LEFT(@svalue, 1))
					SET @svalue = STUFF(@svalue, 1, 1, '')
				END
				ELSE
				BEGIN
					SET @nWeekday = CONVERT(INT, LEFT(@svalue, CHARINDEX('/', @svalue)-1))
					SET @svalue = STUFF(@svalue, 1, 2, '')
				END
				
				IF @TheWeekday = @nWeekday
				BEGIN
					SET @nTemp = 1
					BREAK
				END
			END
			
			IF @nTemp = 1
			BEGIN
				SET @svalue = '1'
			END
			ELSE 
			BEGIN
				SET @svalue = '0'
			END
		END
		
		IF @Rule = ''  
		BEGIN  
			SET @Rule = @sname + ':' + @svalue
		END
		ELSE 
		BEGIN  
			SET @Rule = @Rule + '|' + @sname + ':' + @svalue
		END 
 
		FETCH c1 INTO @sname,@svalue  
        END 
	CLOSE c1
	DEALLOCATE c1

	--追加ip
	SET @Rule = @Rule + '|ip:' + @strClientIP 

	-- 记录日志
	--DECLARE @DateID INT
	--SET @DateID=CAST(CAST(GETDATE() AS FLOAT) AS INT)
	--UPDATE SystemStreamInfo SET GameRegisterSuccess=GameRegisterSuccess+1 WHERE DateID=@DateID
	--IF @@ROWCOUNT=0 INSERT SystemStreamInfo (DateID, GameRegisterSuccess) VALUES (@DateID, 1)

	SET @HasGuest=0

	-- 查询用户
	IF EXISTS (SELECT UserID FROM AccountsInfo(NOLOCK) WHERE MachineSerial=@strMachineSerial and isguest=1)
	BEGIN
		SET @HasGuest=1
	END

	-- 输出变量
	SET @IsGuest = 2
	SELECT @UserID AS UserID, @GameID AS GameID, @Accounts AS Accounts, @RegAccounts AS NickName, @GuestPassword AS GuestPassword, @UnderWrite AS UnderWrite, @FaceID AS FaceID, @Gender AS Gender, @Experience AS Experience, @MemberOrder AS MemberOrder, @MemberOverDate AS MemberOverDate,@ErrorDescribe AS ErrorDescribe, @Loveliness AS Loveliness,@CustomFaceVer AS CustomFaceVer,@GoldScore AS GoldScore, @Rule AS LobbyRule, @IsGuest AS IsGuest, @TheNewAward AS NewAward,@HasGuest as HasGuest

END

RETURN 0


